* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    height: auto;
}

header {
    background-color: #fafa89;
}

.resultsList, .detailsContainer {
    background-color: #8888fa
}

header, .resultsList, .detailsContainer {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

#siteTitle {
    font-size: 5rem;
    padding: 0.5rem;
}

.searchBar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: 2rem;
}

.searchBar form {
    display: flex;
}

.searchBar select {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #e1e1fd;
}

.searchBar label, .searchBar select {
    margin: 3px;
}

.searchInput {
    line-height: 2rem;
    padding: 5px;
}

#searchButton {
    padding: 0.3rem;
}

.resultCard {
    display: flex;
    margin: 10px auto;
    width: 60%;
    background-color: #88fac1;
    transition: background-color 500ms ease-out 100ms
}
.resultCard:hover {
    background-color: #fafa89;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.resultCard img, .resultCardText {
    width: 50%;
}

.resultCardText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultCardName {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detailsContainer h2 {
    font-size: 3.2rem;
    color: #8888fa;
    background-color: #88fac1;
    width: 100%;
    padding: 1rem;
}

.detailsInfo {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.detailsInfo img, .restaurantInfo {
    width: 50%;
}

.restaurantInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #88fac1;
}

.restaurantMap {
    width: 100%;
    box-sizing: border-box;
}